


/* About.css */

/* Base styles */

   body{
      text-align: center;
      font: normal normal normal 1.4em/2em Helvetica ;
   }


   #root{
      overflow:hidden;
   }

      a{
         color: orange;
         text-decoration:none;
         font: normal bold normal 1.2em/2em Helvetica ;
      }

   p{
      margin: 0 20% !important;
      color: white;
   }

   h1{
      color: white;
   }

   
   /* Media queries for responsiveness */
   @media (max-width: 768px) {

 body{
      width: 100vw;
      font: normal normal normal 1.2em/2em Helvetica ;
   }
   }
   
   @media (max-width: 480px) {

      body{
         text-align: center;
         font: normal normal normal 0.85em/2em Helvetica ;
      }
       


   }
   