/* Container to hold the glass pieces */

@media (hover: none) {
  .glass-piece:hover {
    filter: none;
    transform: none;
  }
}

.glass-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 400px;
  gap: 20px;
  width: 100%;
  padding: 20px 20px 20px 30px;
  background-color: #1a1a1a;
  position: relative;
}

/* The jagged glass divs */
.glass-piece {
  position: absolute;
  display:flex;
  width: 80vw;
  height: 200px;
  background-size: cover;
  background-position: center;
  color: rgb(0, 0, 0, 0);
  font-size: 20px;
  text-align: center;
  line-height: 80px;
  transition: all 0.3s ease;
  cursor: pointer;
  z-index: 1;
  border-top: 4px solid black;
  border-right: 20px solid black;
  border-bottom: 5px solid black;
  border-left: 10px solid black;
}

.glass-text {
  position: relative;
  top: 50%;
  left: 50px;
  width: 80px;
  transform: translate(-50%, -50%);
  font-size: 28px;
  font-weight: bold;
  color: white;
  text-shadow: -5px 5px 5px rgba(0, 0, 0, 0.7);
  pointer-events: none; /* Prevents text from blocking clicks on the div */
  z-index: 2;
}



/* Hover effect to brighten and reveal the blurred background */
.glass-piece:hover {
  filter: brightness(100%) blur(0);
  transform: scale(1.05);
  z-index: 10;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
  border-top: 4px solid black;
  border-right: 20px solid black;
  border-bottom: 2px solid black;
  border-left: 10px solid black;
}

/* Hover effect to make the text pop */
.glass-piece:hover + .glass-text:hover {
  transform: translate(-50%, -50%) scale(1.2);
}

.glass-piece:hover .glass-overlay {
  opacity: 1;
}

/* Different jagged shapes using clip-path */
.shape-1 {
  top: 10px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 30%);
}

.shape-2 {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 40%);
  top: 70px;
}

.shape-3 {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 40%);
  top: 140px;
}

.shape-4 {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 40%);
  top: 210px;
}

/* Background preview effect when hovering */
.background-preview {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0.7;
  filter:blur(10px);
  z-index: -1;
  transition: opacity 0.5s ease, filter 0.5s ease;
}

.glass-piece:hover ~ .background-preview {
  opacity: 0.6;
  filter: blur(0px);
}

@media (max-width: 768px) {

  .background-preview{
    filter:none;
  }


  .glass-piece:active{

    opacity:1;
  }

  .glass-text {

    font-size: 20px;
 
  }
}

@media (max-width: 480px) {
  
 .glass-container{
  gap: 20px;
 }


 .glass-piece{
  width: 90vw;
 }


  
}
